.about-me {
  position: relative;
}

.about-me__img {
  margin-bottom: 1.65rem;
  margin-left: -1.95rem;
}

.about-me__first-text {
  margin-bottom: 1.53em;
}

.about-me__decorate-code {
  bottom: -38%;
  right: 0;
}
