.contact {
  position: relative;
}

.contact__text {
  margin-bottom: 1.76em;

  @media (min-width: $tablet-width) {
    margin-bottom: 2.9em;
    margin-left: 7.75em;
  }
}

.contact__list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 17px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 50px 50px 50px 50px;
    place-content: center;
    gap: 49px;
  }
}

.contact__icon {
  @media (min-width: $tablet-width) {
    &--telegram {
      width: 40px;
      height: 40px;
    }

    &--academy {
      width: 37px;
      height: 47px;
    }

    &--github {
      width: 50px;
      height: 50px;
    }

    &--codepen {
      width: 44px;
      height: 44px;
    }
  }
}

.contact__decorate-code {
  bottom: -38%;
  right: 0;

  width: 230%;
  height: 384px;

  @media (min-width: $tablet-width) {
    bottom: -138%;

    width: 246%;
    height: 774px;
  }
}
