.main__title {
  margin-left: -0.05em;
  margin-bottom: 0.15em;

  font-size: 2.24rem;
  line-height: 1.4em;
  font-weight: 700;
  text-align: left;

  &--second {
    margin-left: 3.5em;
  }
}

.main__subtitle {
  margin-left: -0.2em;

  font-size: 1.06em;
  font-weight: 100;
  text-align: left;
}
