.main {
  position: relative;

  // margin-left: 0.3em;
}

.main__wrapper {
  display: grid;
  place-content: center;
  margin-left: -1.5rem;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main__title {
  margin-bottom: 0.15em;

  font-size: 2.24rem;
  line-height: 1.4em;
  font-weight: 700;
  text-align: left;

  &--second {
    margin-left: 3.5em;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0.1em;
    margin-left: -0.3em;

    font-size: 3.53rem;
    line-height: 1.15em;

    &--second {
      margin-left: 4.2em;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 6.88rem;
    margin-left: -0.4em;

    &--second {
      margin-left: 3.57em;
    }
  }
}

.main__subtitle {
  font-size: 1.06em;
  font-weight: 100;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: -0.8em;

    font-size: 1.29rem;
  }

  @media (min-width: $desktop-width) {
    margin-left: -1.2em;

    font-size: 2.35rem;
  }
}


