.my-works {
  position: relative;
}

.my-works__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 271px 271px;
    column-gap: 3.53rem;
    margin-left: 3.12rem;
  }
}

.my-works__item {
  margin-bottom: 1.88rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 2.8rem;
  }
}

.my-works__text {
  margin-left: 0.3em;

  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.my-works__img-wrap {
  width: 271px;
  height: 271px;
  margin-right: auto;
  margin-bottom: 1.18rem;
  margin-left: auto;

  background-color: $special-1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;

  &--techno {
    background-image: url("../img/techno.jpg");
  }

  &--catenergy {
    background-image: url("../img/cat_mobile.jpg");
  }

  &--keksobooking {
    background-image: url("../img/keksobooking.jpg");
    background-size: 114%;
  }

  @media (min-width: $tablet-width) {
    &--catenergy {
      background-image: url("../img/cat_tablet.jpg");
    }
  }
}

.my-works__decorate-code {
  bottom: -20%;
  left: -80%;

  width: auto;

  @media (min-width: $tablet-width) {
    bottom: -39%;
    left: -88%;
  }
}
