.page-main {
  position: relative;
  margin-bottom: 4.59rem;
}

.page-main__main {
  margin-bottom: 10.45rem;
}

.page-main__about-me {
  margin-bottom: 9.2rem;
}

.page-main__my-works {
  margin-bottom: 9rem;
}

.page-main__button-up {
  position: fixed;
  bottom: 5.29rem;
  right: 0.18rem;
}
