.main-nav {
  margin-bottom: -1.55rem;
}

.main-nav--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    margin-right: 5.6rem;
  }
}
