.page-header {
  position: relative;

  margin-top: 3.25rem;
  margin-bottom: 9.2rem;

  @media (min-width: $tablet-width) {
    margin-top: 0.88rem;
    margin-bottom: 9.85rem;
  }
}

.page-header__toggle {
  position: absolute;
  top: -34px;
  right: 7.3vw;

  width: 24px;
  height: 22px;

  background-repeat: no-repeat;
  border: none;
  background-color: transparent;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--opened {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 18'%3E%3Cpath transform='matrix(.7276 -.686 .7276 .686 2 18)' stroke='%230C3934' stroke-width='1.5' d='M0-.75h24.74'/%3E%3Cpath transform='matrix(-.7276 -.686 .7276 -.686 20 16.97)' stroke='%230C3934' stroke-width='1.5' d='M0-.75h24.74'/%3E%3C/svg%3E");
}

.page-header__toggle--closed {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath stroke='%230C3934' stroke-width='1.5' d='M0 1.25h24M0 17.25h24M0 9.25h24'/%3E%3C/svg%3E");
}

.page-header__toggle--nojs {
  opacity: 0;
}
