.site-list {
  margin-top: 0.75em;
  margin-left: -0.4em;

  @media (min-width: $tablet-width) {
    margin-top: 0;

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: end;
    gap: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 5.65rem;

    gap: 4.55%;
  }
}

.site-list__item {
  margin-bottom: 0.8em;
}

.site-list__item--main {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.site-list__link {
  font-size: 1.18rem;
  line-height: 1.5em;
  font-weight: 550;
  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: 0.94rem;
    line-height: 1.25em;
    font-weight: 300;

    &:hover {
      text-shadow: 0 0 0.85px $basic-text;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 1.18rem;
  }
}
