.page {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  font-family: $helvetica;
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  color: $basic-text;

  background-color: $basic-bg;
}
