// Colors

$basic-bg: #f8ebee;
$basic-text: #0c3934;
$special-1: rgba(12, 57, 52, 0.5);
$special-2: rgba(12, 57, 52, 0.05);
$special-3: rgba(12, 57, 52, 0.04);
$black: #000000;
$white: #ffffff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Fonts

$helvetica: "Helvetica Neue Cyr", "Arial", sans-serif;
$ibm: "IBM Plex Mono", "CourierNew", monospace;
