.decorate-code {
  position: absolute;
  z-index: -1;
  width: 100vw;
  overflow: hidden;
}

.decorate-code__text {
  font-family: $ibm;
  font-size: 1.35rem;
  line-height: 1.25em;
  font-weight: 600;
  color: $special-3;
  text-align: left;

  &--my-works {
    font-size: 1.76rem;
  }

  &--contact {
    position: absolute;
    top: 0;
    right: -5rem;

    font-size: 3.59rem;
    line-height: 1.3em;
  }

  @media (min-width: $tablet-width) {
    font-size: 2.94rem;

    &--contact {
      position: absolute;
      left: 16.18rem;
      top: 1.24rem;

      font-size: 7.41rem;
    }

    &--about-me-second {
      font-size: 6.47rem;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 5.65rem;

    &--contact {
      left: 16.18rem;
      top: 1.24rem;

      font-size: 8.65rem;
    }

    &--about-me-second {
      font-size: 8.65rem;
    }
  }
}

.decorate-code__code {
  font-family: inherit;
}

