.navigation {
  display: none;

  @media (min-width: $desktop-width) {
    position: fixed;
    top: 25.4rem;
    right: 6.45%;

    display: grid;
    gap: 40px;
  }
}

.navigation__button {
  width: 11px;
  height: 11px;
  padding: 0;

  background-color: $basic-text;
  border: none;

  cursor: pointer;

  &:hover:not(.navigation__button--active),
  &:focus:not(.navigation__button--active) {
    outline: 4px solid $special-5;
  }
}

.navigation__button--active {
  box-shadow: 0 0 0 4px $special-4;

  cursor: default;

  &:focus {
    outline: none;
  }
}
